

#dashboardMe{
  text-align: center;
}
#dashboardText {
  margin: 0%;
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
  
}
#statsBoxWraper{
  display: flex;
  flex-wrap: wrap;
}
#statsBox1{
  text-align: center;
 
  
}
#statsBox2{
  text-align: center;
  

}