.firstCol{
    grid-column: 1;
    background-color: #f5eec2;
}
.secCol{
   grid-column: 2;
    background-color: #39395f;
}
.thirdCol{
   grid-column: 1;
    background-color: #416a59;
}
.fourthCol{
   grid-column: 2;
    background-color: #73a24e;
}
.inputParent{
    margin-top: 20px;
}
.inputGrandparent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.alter{
    position: absolute;
    bottom: 30px;
    left: 15px
}