#manageConnection{
    height: 100vh;
    background-color: var(--light);
   

}
#cardWrapper{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#searchConnection{
    width: 40%;
    background-color: var(--green);
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    max-height: 80vh;
    overflow: scroll;
}
#viewConnections{
    width: 40%;
    background-color: var(--green);
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}


.resultComponent{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: 50px;
    background-color: var(--lightgreen);
    margin-top: 10px ;
}
.nameColumn{
    grid-column: 1/10;
}
.buttonColumn{
    grid-column: 10/13;
}
#searchResultsGrandParent{
    display: flex;
    justify-content: center;

}
#searchResultsParent{
    max-width: 400px;
}
.addUserButton{
    width: 100%;
    height: 100%;
    background-color: var(--darkgreen);
}
.removeConnectionButton{
    width: 100%;
    height: 100%;
    background-color: red;
}
@media only screen and (max-width: 800px){
    
    #searchConnection{
        width: 90%;
        
    }
    #viewConnections{
        width: 90%;
        margin-top: 10px;

        
    }
    
}
@media only screen and (max-width: 400px){
    .nameColumn{
        grid-column: 1/9;
    }
    .buttonColumn{
        grid-column: 10/13;
    }
   
    
}